.canvas-container {
    width: 800px;
    height: 500px;
    margin-top: 15px;
    border: 1px solid #444141;
    background: #888686;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-row {
    height: 30px;
    display: flex;
    flex-direction: row;
}

.canvas-item {
    width: 30px;
    border: 1px solid black;
    margin: 1px;
}