.canvas-container {
    width: 800px;
    height: 500px;
    margin-top: 15px;
    border: 1px solid #444141;
    background: #888686;
    border-radius: 4px;
    overflow-x: auto;
    overflow-y: auto;
    padding: 10px;
}

.canvas-row {
    height: 20px;
    display: flex;
    flex-direction: row;
}

.canvas-item {
    width: 20px;
    border: 1px solid #656351;
    margin: 1px;
}